.App {
  text-align: center;
}

.title-section {
  background: url("/public/moda_cover.jpg");
  min-height: 80vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-section > .navbar-container > .navbar-nav > a {
  color:white;
  transition: 0.5s;
}

.title-section > .navbar-container > .navbar-nav > div > a {
  color:white;
  transition: 0.5s;
}

.title-section > .navbar-container > .navbar-nav a:hover {
  color: darkgray;
  transition:0.5s;
}

.title-section > .navbar-container > .navbar-nav #navTitle {
  color:white;
}

.gap {
  padding: 30px;
}

.under-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 73px 175px;
}

.home-text {
  padding: 25px 0px 5px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}