.App {
  text-align: center;
}

.title-section {
  background: url("/public/moda_cover.jpg");
  min-height: 80vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-section > .navbar-container > .navbar-nav > a {
  color:white;
  transition: 0.5s;
}

.title-section > .navbar-container > .navbar-nav a:hover {
  color: darkgray;
  transition:0.5s;
}

.title-section > .navbar-container > .navbar-nav #navTitle {
  color:white;
}

.under-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.under-section > h2 {
  padding: 25px 0px 5px 0px;
  align-self: flex-start;
  justify-self: flex-start;
}
