.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 100px;
    column-gap: 50px;
    justify-content: center;
    height: 800px;
    align-content: center;
}

.grid-item {
  text-align:center;
}

.archive-name {
  color: #7d776e;
  font-size: 20px;
}

time {
  color: #a7a49f;
  font-size: 12px;
}

.newsletter-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  font-size: 22px;
  text-align: center;
  font-weight: 50;
  margin-top: 200px;
}

.blurb {
  text-align: center;
  color:gray;
  font-size: 12px;
}
