.join-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 125px 175px;
}

.join-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 15px;

}
.join-block > h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.join-block > p{
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.separator{
    width: 80%;
    height: 1px;
    background-color: orange;
    margin: 20px 0;
    border: none;
}
