.join-page {
    display: flex;
    align-items: felx-start;;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
}

.join-block {
    text-align:left;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.join-block > h2{
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial;
}

.join-block > p{
    line-height: 2.0;
    margin: 0 auto;
    font-size: 13px;
    color: gray;
}

.separator{
    width: 80%;
    height: 1px;
    background-color: orange;
    border: none;
    margin: 0 auto 30px;
}
