@keyframes fadeIn {
    0% { background-color: transparent; }
    100% { background-color: black; }
}

.navbar-nav {
    display:flex;
    padding: 40px;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-nav > a {
    font-weight: 500;
    font-size: 12px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: grey;
    transition:0.5s;
}

.navbar-nav #navTitle {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
}

.navbar-nav a:hover {
    color:black;
    transition:0.5s;
}

.navbar-nav a:hover .navbox {
    animation-name: fadeIn;
}

.navbox {
    background-color: black; /* SHOULD be transparent, but animation not currently working */
    animation-duration: 1s; /* same as transition duration */
    animation-timing-function: linear; /* kind of same as transition timing */
    animation-delay: 0ms; /* same as transition delay */
    animation-iteration-count: 1; /* set to 2 to make it run twice, or Infinite to run forever!*/
    animation-direction: normal; /* can be set to "alternate" to run animation, then run it backwards.*/
    animation-fill-mode: none; /* can be used to retain keyframe styling after animation, with "forwards" */
    animation-play-state: running; /* can be set dynamically to pause mid animation*/
}