a {
    font-weight: 500;
    font-size: 12px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.navbox > div > a {
    color: white;
}

.navbox {
    position: absolute;
}